{% extends 'CoreParts/base.html' %}
{% block title %} Add Data {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% now 'Y' as current_year %}
<div class="container">
    <div class="row mt-1 p-3">
        <div class="col-md-8 offset-md-2">
            <p class="border border-5 border-teal400 rounded-pill rounded-5 fs-4 fw-bold p-2 mx-5 text-center text-primary">Thêm: IN - CĂNG</p>
            {% for message in messages %}
            {% if message %}
            <hr>
            <div class="messages rounded-pill rounded-3 p-1 mx-5 alert alert-{{ message.tags }}">
                <p class = "text-center fs-5">{{ message }}</p>
            </div>
            {% endif %}
            {% endfor %}

            <hr>
            <div class="row border border-5 border-teal400" >
                <form class="mt-3" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-3"> {{ form.Date|as_crispy_field }} </div>
                        <div class="col-md-9"> {{ form.Note|as_crispy_field }} </div>
                        <div class="col-md-4"> {{ form.Print_ID|as_crispy_field }} </div>
                        <div class="col-md-4"> {{ form.Product_type|as_crispy_field }} </div>
                        <div class="col-md-4"> {{ form.Print_Des|as_crispy_field }} </div>
                        <div class="col-md-4"> {{ form.Stretch_Des|as_crispy_field }} </div>
                        <div class="col-md-4"> {{ form.BatchNo|as_crispy_field }} </div>
                        <div class="col-md-4"> {{ form.Code|as_crispy_field }} </div>
                        <div class="col-md-6"> {{ form.Qty|as_crispy_field }} </div>
                        <div class="col-md-6"> {{ form.Weight|as_crispy_field }} </div>

                        <div class="col-md-2"> <input class="mb-3 px-5 btn btn-success btn-block" type="submit" value="Lưu"> </div>
                        <div class="col-md-3 ms-3"> <a class="px-auto btn btn-danger btn-block" href="{% url 'Tay_In_hn' back_year %}">Quay Lại</a> </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!--Additional Scripts-->
<script>
    document.querySelector('#id_Print_ID').setAttribute('data-redirect-url', '{% url 'In_Cang_add' pk=0 %}');
</script>
<script>
    document.querySelector('#id_Print_ID').addEventListener('change', function() {
        var redirectUrl = this.getAttribute('data-redirect-url');
        if (redirectUrl) {
            var value = this.value;
            redirectUrl = redirectUrl.replace('0', encodeURIComponent(value));
            window.location.href = redirectUrl;
        }
    });
</script>


{% endblock %}
