{% extends 'CoreParts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} {{ title}} {% endblock %}
{% block content %}
{% now 'Y' as current_year %}
<div class="container">
    <div class="row mt-1 p-3">
        <div class="col-md-8 offset-md-2">
            <p class="border border-5 rounded-pill rounded-5 fs-4 fw-bold p-2 mx-5 text-center text-primary">{{ header }}</p>
            {% for message in messages %}
            {% if message %}
            <hr>
            <div class="rounded-pill rounded-3 p-1 mx-5 alert alert-{{ message.tags }}">
                <p class = "text-center fs-5">{{ message }}</p>
            </div>
            {% endif %}
            {% endfor %}

            <hr>
            <div class="row border border-success border-5">
                <form class="mt-3" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4"> {{ form.Vendor|as_crispy_field }} </div>
                        <div class="col-md-2"> {{ form.Year|as_crispy_field }} </div>
                        <div class="col-md-6"> {{ form.Debt|as_crispy_field }} </div>
                        <div class="col-md-2"> <input class="mb-3 px-5 btn btn-success btn-block" type="submit" value="Lưu"> </div>
                        <div class="col-md-3 ms-3"> <a class="px-auto btn btn-danger btn-block" href="{% url 'yarn_debt' Year %}">Quay Lại</a> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- additional Scripts -->
<script>
  // Get references to the Weight, Price, and PayAmount fields
  const weightField = document.querySelector('#id_Weight');
  const priceField = document.querySelector('#id_Price');
  const othercostField = document.querySelector('#id_OtherCost');
  const payAmountField = document.querySelector('#id_PayAmount');

  // Add an event listener to the Weight and Price fields
  weightField.addEventListener('input', calculatePayAmount);
  priceField.addEventListener('input', calculatePayAmount);
  othercostField.addEventListener('input', calculatePayAmount);

  function calculatePayAmount() {
    // Get the values of the Weight and Price fields
    const weight = parseFloat(weightField.value);
    const price = parseFloat(priceField.value);
    const othercost = parseFloat(othercostField.value);

    // Calculate the PayAmount and format it with thousand separators
    const payAmount = weight * price + othercost;
    const formattedPayAmount = payAmount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');

    // Set the value of the PayAmount field to the formatted value
    payAmountField.value = formattedPayAmount;
  }
</script>
<script src="{% static 'assets/js/db-submit-block.js' %}"></script>
{% endblock %}