{% extends 'CoreParts/base.html' %}
{% load humanize %}
{% block title %} Xóa: Hàng Trả {% endblock %}

{% block content%}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border border-5 border-info bg-white p-3">
                <p class="fs-4 fw-bold">Xóa: Khách Hàng Trả Tiền</p>
                <hr>
                {% for message in messages %}
                {% if message %}
                <div class="rounded-pill rounded-3 p-1 mx-5 alert alert-{{ message.tags }}">
                    <p class="text-center fs-5">{{ message }}</p>
                </div>
                {% endif %}
                {% endfor %}
                <div class="alert alert-danger">
                    <p class="fs-4">Bạn có chắc muốn xóa dữ liệu này?</p>
                    <li class="mx-4">Ngày: {{ row.Date|date:'d-m-Y' }}</li>
                    <li class="mx-4">Khách Hàng: {{ row.Customer }}</li>
                    <li class="mx-4">Thành Tiền: {{ row.Amount.normalize|intcomma }} VND</li>
                    <li class="mx-4">Ghi Chú: {{ row.Note|default:'' }} </li>
                    <li class="mx-4">Tạo bởi: {{ row.Creator }}, ngày {{ row.Created_Time|date:'d-m-Y' }} lúc
                        {{ row.Created_Time|date:'H:i:s' }}
                    </li>
                    <hr>
                    <p class="fs-5 text-primary">Lưu Ý: Tất Cả Giao Dịch Chuyển Đi Từ Lô Hàng Này Về Sau Cũng Sẽ Bị
                        Xóa.</p>
                </div>

                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input class="btn btn-danger" type="submit" value="Đúng, tôi chắc chắn">
                    <a class="btn btn-secondary mx-3" href="{% url 'Pay_hn' row.year %}">Hủy</a>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}