{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<meta name="description" content="POS - Bootstrap Admin Template">
<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern,  html5, responsive">
<meta name="author" content="Dreamguys - Bootstrap Admin Template">
<meta name="robots" content="noindex, nofollow">

<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/feather.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
<script src="{% static 'assets/js/clock.js' %}"></script>
<script src="{% static 'assets/js/table_filter.js' %}"></script>
<script src="{% static 'assets/js/enter_accelerator.js' %}"></script>
<script src="{% static 'assets/js/db-submit-block.js' %}"></script>
<script src="{% static 'assets/js/messages_close.js' %}"></script>
<script src="{% static 'assets/js/clear-filter.js' %}"></script>
<script src="{% static 'assets/js/select-filter-type.js' %}"></script>
